<div class="container">
	<h1 class="demo-title">Welcome to the Star Wars Signals Demo!</h1>

	<div class="display-container">
		<div class="buttons">
			<button (click)="testStarshipSelect()">Click me to test out the api via name!</button>
			<button (click)="testStarshipSelectById()">Click me to test out the api via ID!</button>
			<button (click)="testStarshipClear()">Clear selection</button>
			<button (click)="toggleAllowNameEdits()">Allow name edits</button>
		</div>

		@if(starshipSelected()) {
			<starship-display
				[(starShip)]="starship"
				[allowEdit]="allowNameEdits()"
			/>
		} @else if (isLoadingStarShip()) {
			<div class="loading">Loading!</div>
		} @else {
			<div class="no-select">No StarShip selected!</div>
		}
	</div>



	<div class="list-container">
		<!-- <starship-select-list /> -->
	</div>
</div>